.App {
  text-align: center;
  /* background-color: #d6ba30; */
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: white;
overflow-x: hidden;
}
.Top{
width: 100%;
height: 12em;
margin: 0px;
padding: 0px;
animation: fadeIn 3s; 
z-index: 0;
position: fixed;
top: 0;

}
.exImage{
  margin-top: 2em;
  width: 10em;
  height: 10em;
  margin-inline: 4em;
}
.text{
  box-sizing: content-box;
  box-shadow: #61dafb;
  text-shadow: #61dafb;
  /* color: black; */
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}



.App-header {
  min-height: 100vh;
background-color:transparent ;
  font-size: calc(10px + 2vmin);
z-index: 1;
margin-top: 14em;

}

.App-link {
  color: rgb(243, 215, 57);
}

@media screen and (min-width:440px){
  .Top{
    height: 18em;
  }
}
@media screen and (min-width:800px){
  .Top{
    height: 22em;
  }
  .App-header{
    margin-top: 16em;
  }
}
.slider{
  animation: slideInR 2s; 
  color:rgb(243, 215, 57)
}
.slidel{
  animation: slideInL 2s; 
  color:rgb(243, 215, 57);
}
.slidea{
  animation: slideInL 2s; 
  color:rgb(243, 215, 57);
  display: inline-block;
}

@media (prefers-reduced-motion: no-preference) {
@keyframes slideInR{
  0% {
    transform: translateX(-50px) ;
  }
  25%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(-8px);

  }
  69%{
    transform: translateX(0px);

  }
  100% {
    transform: translateX(0px) ;
  }
}
@keyframes slideInL{
  0% {
    transform: translateX(50px) ;
  }
  25%{
    transform: translateX(0px);
  }
  50%{
    transform: translateX(8px);

  }
  69%{
    transform: translateX(0px);

  }
  100% {
    transform: translateX(0px) ;
  }
}
  @keyframes fadeIn{
  0%{opacity:0.15}
  100%{opacity:1}
}
}
